services:
  agent:
    build:
      context: ./agent
      args:
        - HTTP_PROXY=${DOCKER_BUILD_PROXY:-}
        - HTTPS_PROXY=${DOCKER_BUILD_PROXY:-}
        - http_proxy=${DOCKER_BUILD_PROXY:-}
        - https_proxy=${DOCKER_BUILD_PROXY:-}
    ports:
      - "4000:4000"
    environment:
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - HOST_URL=http://host.docker.internal:3000
      - SEARCH_API_KEY=${SEARCH_API_KEY}
      - AGENT_PORT=4000
    extra_hosts:
      - "host.docker.internal:host-gateway"
