services:
  agent:
    image: minclaw-agent:latest
    ports:
      - "4000:4000"
    environment:
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - HOST_URL=http://host.docker.internal:3000
      - SEARCH_API_KEY=${SEARCH_API_KEY}
      - AGENT_PORT=4000
    extra_hosts:
      - "host.docker.internal:host-gateway"
